@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

body {
    font: 12pt Arial;
    background-color: rgb(147, 174, 255);
}
h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal; /* Peso da fonte */
}
button {
    font-size: 12pt;
    padding: 30px; /* Espaçamento interno*/
}