body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    padding: 20px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: lightblue;
}
button:hover {
    background-color: aquamarine;
    font-weight: bolder;
}