body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 20pt;
}
button {
    font-size: 1em;
    padding: 20px;
    border-style: none;
    border-radius: 5px;
    background-color: #bdbdbd;
}
button:hover {
    background-color: gray;
    color: white;
    font-weight: bold;
}